@model IEnumerable<Trash_Collector.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to your home page! </h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.streetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weeklyPickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoice)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.extraPickup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suspendPickupStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suspendPickupEnd)
        </th>

            @Html.DisplayNameFor(model => model.IdentityUser)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.streetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weeklyPickupDay)

            <td>
                @Html.DisplayFor(modelItem => item.invoice)
            </td>
            @*</td>
        <td>
            @Html.DisplayFor(modelItem => item.extraPickup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suspendPickupStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suspendPickupEnd)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IdentityUser.Id)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Update Information</a> |
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Request Additional Pick Up</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Cancel Service</a>
            </td>
        </tr>
}
    </tbody>
</table>
