
@model IEnumerable<Trash_Collector.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Good morning! Today's pick ups </h1>

<p>
    <a asp-action="Create">Do I need this button for anything?</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickUpComplete)
         
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.pickUpComplete)
                <input id="Checkbox1" type="checkbox" />

                <a asp-action="CompletePickUp" asp-route-id="@item.CustomerId">Click here to confirm Pick Up</a>
            </td>
            <td>
            <a asp-action="Details" asp-route-id="@item.CustomerId">Map</a> |
            </td>
        </tr>
}
    </tbody>
</table>
