
@model IEnumerable<Trash_Collector.Models.Customer>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Good morning! Today's pick ups </h1>

<p>
    To See your pick ups for the week, select a day from the drop down list:
</P>

    <div class="form-group">
        @*<label asp-for="" class="control-label"></label>*@
        <select data-val="true" data-val-required="The Person field is required." id="Person" name="Person">
            <option value="">Pick one</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
        </select>
        @*<span asp-validation-for="weeklyPickupDay" class="text-danger"></span>*@
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickUpComplete)
         
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.pickUpComplete)
                <input id="Checkbox1" type="checkbox" />

                <a asp-action="CompletePickUp" asp-route-id="@item.customerId">Click here to confirm Pick Up</a>
            </td>
            <td>
            <a asp-action="Details" asp-route-id="@item.customerId">Map</a> |
            </td>
        </tr>
}
    </tbody>
</table>
